#!/bin/sh

# Don't break my VM using Wayland
export WLR_NO_HARDWARE_CURSORS=1

# Use my actual sound card for apulse
# It turns out I didn't have ALSA properly set up
# and Firefox has the --enable-alsa flag on Debian anyways
# export APULSE_PLAYBACK_DEVICE="plughw:1,0"

# qt5ct QT style
export QT_QPA_PLATFORMTHEME="qt5ct"

# Let flatpak programs work
if [ -z "$DBUS_SESSION_BUS_ADDRESS" ]
then
	eval "$(dbus-launch --sh-syntax)"
fi

# Something something fix shitty xdg portal
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

# Fcitx as IME
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export SDL_IM_MODULE=fcitx
export XMODIFIERS='@im=fcitx'

xbindkeys -f ~/.config/xbindkeys/xbindkeysrc
setxkbmap -layout 'us(intl)' -option ctrl:nocaps
dunst &
wallpaper ~/Media/Pictures/wallpapers/1080-plus &
xfce4-clipman &
transmission-gtk &
xrdb -merge ~/.Xresources
fcitx -d &
emacs --daemon
picom -b --config ~/.config/picom.conf
